/*
 Theme Name:   Twenty nineteen Child
 Theme URI:    http://themenfant.ca
 Description:  Twenty Nineteen Child Theme
 Author:       Kathleen Francis
 Author URI:   http://themenfant.ca
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-nineteen-child
*/



body {
	background-color: #e5dfd5;
}

#content {
	background-color: #fff;
}

.site-branding .site-title {
	font-size: 10vw;
}
.site-branding .site-title a{
	color: #8377d1;
}

.site-branding .site-title a:hover{
	color: #78ccbf;
}

.site-branding .site-description {
	font-size: 2vw;
	background-color: #ccc;
	margin: 10% 130%;
}

.entry-content p:nth-child(n):hover {
	border-bottom: 1.5px solid #5efc8d;
}

.couleur-liste {
	color: red;
}

.galerie img:nth-child(n) {
	transform: scale(1);
	transition: .3s ease-in-out;
}

.galerie img:nth-child(n):hover {
	transform: scale(0.85);
}

.soleil {
	filter: blur(5px);
	transition: .3s ease-in-out;
}

.soleil:hover {
	filter: blur(0);
}

.ps:hover {
	color: #8377d1;
	font-weight: bold;
}